* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: Karla, sans-serif;
}

.page {
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.join-community {
    background-color: #FFF;
}

.join-community .title {
    color:  hsl(179, 62%, 43%);
    font-weight: 700;
    padding: 15px;
}

.join-community .subtitle {
    color: hsl(71, 73%, 54%);
    padding: 15px;
}

.join-community p {
    color: hsl(218, 22%, 67%);
    padding: 0 15px 15px 15px;
}

.monthly-subscription {
    width: 100%;
    background-color: hsl(179, 62%, 43%);
    color: hsl(204, 43%, 93%);
    padding: 5px 0px;
}

.monthly-subscription .title {
    font-weight: 700;
    padding: 15px;
}

.monthly-subscription .price-container {
    display: flex;
    align-items: center;
}

.monthly-subscription .price {
    font-size: 30px;
    padding: 0 15px;
}

.monthly-subscription .paytime {
    color: hsl(204, 43%, 93%);
    opacity: 0.5;
}

.monthly-subscription p {
    padding: 10px 15px;
}

.monthly-subscription .call-to-action {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: hsl(71, 73%, 54%);
    text-align: center;
    text-decoration: none;
    color: hsl(204, 43%, 93%);
}

.why-us {
    width: 100%;
    background-color: hsl(179, 62%, 43%);
    opacity: 0.8;
    color: hsl(204, 43%, 93%);
    padding: 15px;
}

.why-us .title {
    font-weight: 700;
    padding: 15px 0;
}

.why-us .text{
    max-width: 50%;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    padding: 10px 0 0 0;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 1024px) {

    .page {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: hsl(204, 43%, 93%);
    }

    .container {
        width: 50%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .secondary-info {
        display: flex;
        flex-direction: row;
    }

    .join-community {
        border-radius: 5px 5px 0 0;
    }

    .monthly-subscription {
        width: 50%;
        border-radius: 0 0 0 5px;

        display: flex;
        flex-direction: column;
        padding: 20px 20px;
    }

    .monthly-subscription p {
        margin-bottom: 20px;
    }

    .why-us {
        width: 50%;
        border-radius: 0 0 5px 0;
    }

    .call-to-action:hover {
        transition: 0.8s;
        opacity: 0.8;
    }
}